<section id="right">
    <header id="header-small">
    <h2>Create Your Blog with Us.</h2>
   </header>
  <div class="clear"></div>
  
    <section id="contents">
    <section id="homemain">
    <article class="post singlepost">
    <header>
    <h2><a href="#">Log In</a></h2>
    </header>
    <div class="entry">
<%= form_tag sessions_path do %>
  	<div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  	</div>
  	<div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  	</div>
  	<div class="actions"><%= submit_tag "Log In",:class => "btn btn-primary" %></div>
<% end %>
    
</div>
    </article></section>
    
    
    <aside id="rightsidebar">
    <div class="imagepost">
    <img src="/assets/rain.jpg" width="170" height="165" alt="rain">
    <p class="caption">Work in Progress!!</p>
    </div>
    </aside>
    <div class="clear"></div>
  </section>
</section>